.main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  grid-template-areas:
    "search search search search"
    "title-container title-container title-container title-container"
    "folder-container folder-container folder-container folder-container"
    "audio-player audio-player audio-player audio-player"
    "lines-container lines-container lines-container lines-container";
  grid-auto-rows: min-content;
  padding: 2rem;
}

.folder-container {
  grid-area: folder-container;
  background: linear-gradient(
    to bottom,
    rgba(44, 44, 44, 0.75),
    rgba(224, 224, 224, 0.15)
  );
  padding: 1rem;
  border-radius: 8px;
}

.lines-container {
  grid-area: lines-container;
}
