.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  grid-template-areas: "content lines-container";
  grid-auto-rows: min-content;
  padding: 2rem;
}

/* TODO remove grid areas */
.folder-container {
  grid-area: folder-container;
  background: linear-gradient(
    to bottom,
    rgba(44, 44, 44, 0.75),
    rgba(224, 224, 224, 0.15)
  );
  padding: 1rem;
  border-radius: 8px;
}

.lines-container {
  grid-area: lines-container;
}
